/**
 * Common Definitions
 * Pini Segal Site
 *
 * Copyright (c) 2015., 2023. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic, Mladen MIjatov, Vladimir Anusic
 */

@color_background: white;
// @color_text: #333333;

@color_ac_white: white;
@color_ac_black: black;
@color_ac_grey: #bdc3c7;
@color_ac_turquise: #37d6c0;
@color_ac_turquise_dark: #1abc9c;
@color_ac_blue: #3498db;
@color_ac_blue_dark: #004366;
@color_ac_asphalt: #2c3e50;
@color_text: #4d4d4d;

@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;
