/**
 * Font Definitions
 * Dr.Pini Segal Site
 *
 * Copyright (c) 2023. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

 @font-face {
	font-family: 'Open Sans Hebrew';
	font-style: light;
	font-weight: 400;
	src: url(../images/fonts/OpenSansHebrew-Light.ttf) format('ttf');
}

@font-face {
	font-family: 'Open Sans Hebrew';
	font-style: regular;
	font-weight: 400;
	src: url(../images/fonts/opensanshebrew-regular-webfont.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans Hebrew';
	font-style: bold;
	font-weight: 700;
	src: url(../images/fonts/opensanshebrew-bold-webfont.woff) format('woff');
}
