/**
 * Footer Style Sheet
 * Dr.Pini Segal
 *
 * Copyright (c) 2015., 2023. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

footer {
	display: block;
}

footer > div {
	padding: 0px calc(~'(100% - 1200px) / 2');
	background-color: black;
	text-align: center;
}

footer div.top_footer {
	text-align: right;
	padding: 50px calc(~'(100vw - 1200px)' / 2);
	background-color: @color_ac_asphalt;
	color: @color_ac_white;

	background-image: url(../images/footer-logo.png);
	background-repeat: no-repeat;
	background-position: calc(~'(50% - 410px)') center;
	background-size: 410px 115px;
}

footer div.top_footer p {
	display: inline-block;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	border-bottom: 1px solid @color_ac_turquise;
	width: 350px;
}

footer div.top_footer a {
	display: inline-block;
	text-decoration: none;
	padding-top: 5px;
	color: @color_ac_white;
	transition: all 0.3s;
}

footer div.top_footer a:hover {
	color: @color_ac_turquise;
}

/**
 * Copyright
 */
footer div.copyright {
	display: inline-block;
	color: @color_ac_white;
}

footer div.copyright a {
	color: @color_ac_white;
}

// Tablet version

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

footer div.top_footer {
	padding-right: 10px;
	background-position: left center;
}

}