/**
 * Footer mobile Style Sheet
 * Dr.Pini Segal Site
 *
 * Copyright (c) 2015., 2023. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

footer {
	display: block;
}

footer > div {
	background-color: black;
	text-align: center;
}

footer div.top_footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 80px;
	background-color: @color_ac_asphalt;
	color: @color_ac_white;

	background-image: url(../images/footer-logo.png);
	background-repeat: no-repeat;
	background-position: center 125px;
	background-size: 50% auto;
}

footer div.top_footer p {
	display: inline-block;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid @color_ac_turquise;
}

footer div.top_footer a {
	display: inline-block;
	text-decoration: none;
	padding-top: 5px;
	color: @color_ac_white;
	transition: all 0.3s;
}

footer div.top_footer a:hover {
	color: @color_ac_turquise;
}

/**
* Copyright
*/
footer div.copyright {
	display: inline-block;
	color: @color_ac_white;
}

footer div.copyright a {
	color: @color_ac_white;
}