/**
 * Header Style Sheet
 * Dr.Pini Segal Site
 *
 * Copyright (c) 2015., 2023. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic
 */

header {
	display: block;
	text-align: center;
	position: relative;
	overflow: hidden;
}

header div.top_header {
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 1200px;
}

header div.top_header a.logo,
header div.top_header a.phone,
header div.top_header div.information {
	display: table-cell;
	vertical-align: middle;
	width: 33.3%;
}

header div.top_header div.information p {
	margin: 0px;
	text-align: right;
	color: @color_ac_black;
}

header div.top_header a.phone {
	text-align: left;
	text-decoration: none;
	color: @color_ac_turquise_dark;
	font-weight: 700;
	transition: all 0.3s
}

header div.top_header a.phone:hover {
	color: @color_ac_turquise;
}

header div.top_header a.phone svg {
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px;
	width: 25px;
	height: 25px;
	fill: @color_ac_turquise_dark;
	transition: all 0.3s;
}

header div.top_header a.phone:hover svg {
	fill: @color_ac_turquise;
}

header div.top_header a.logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

// Main navigation

header nav {
	display: table;
	padding: 0px calc(~'(100% - 1200px)' / 2);
	width: 1200px;
	border-top: 2px solid @color_ac_grey;
	border-bottom: 2px solid @color_ac_turquise;
}

header nav a {
	display: table-cell;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: none;
	color: darken(@color_ac_grey, 20%);
	width: 200px;
	transition: all 0.3s;
}

header nav a.active {
	color: @color_ac_white;
	background-color: @color_ac_blue_dark;
}

header nav a:hover {
	color: @color_ac_white;
	background-color: fade(@color_ac_blue_dark, 80%);
}