/**
 * Main Style Sheet
 * Dr.Pini Segal Site
 *
 * Copyright (c) 2015., 2023. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic, Mladen Mijatov, Vladimir Anusic
 */

@import "header.less";
@import "content.less";
@import "footer.less";
@import "common.less";
@import (css) "stock/header.css";
@import (css) "stock/copyright.css";

body {
	background-color: @color_ac_white;
	color: @color_text;
	font-family: 'Open Sans Hebrew', sans-serif;
}

input,
select,
textarea,
button {
	font-family: 'Open Sans Hebrew';
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Open Sans Hebrew';
	font-weight: 700;
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}
